# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# autoreconf -i
Makefile.in
aclocal.m4
autom4te.cache/
cfg/Makefile.in
cfg/compile
cfg/config.guess
cfg/config.h.in
cfg/config.sub
cfg/depcomp
cfg/install-sh
cfg/libtool.m4
cfg/ltmain.sh
cfg/ltoptions.m4
cfg/ltsugar.m4
cfg/ltversion.m4
cfg/lt~obsolete.m4
cfg/missing
configure
lib/Makefile.in
src/Makefile.in

# ./configure
Makefile
cfg/Makefile
cfg/config.h
cfg/stamp-h1
config.log
config.status
lib/.deps/
lib/Makefile
libtool
src/.deps/
src/Makefile

# make
lib/.libs/
src/.libs/
src/autotool-devtool-example
